*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background:radial-gradient(at bottom right, #ff6600, #00aeff);
    background-repeat: no-repeat;
    height: 100vh;
}

form{
    width: 600px;
    height: 700px;
    margin-top: 40px;
    background-color: #dddddd1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 0 10px 0.1px #00000036;
    border-radius: 10px;
}

h1{
    margin: 50px;
    color: #ddd;
}

td{
    padding: 10px 30px;
}

label{
    text-transform:capitalize;
    color: #ddd;
}

input{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #dddddd33;
    width: 200px;
    color: #555;
}

input:focus{
    outline: none;
}

input::-webkit-inner-spin-button{
    display: none;
}

.btn{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #dddddd73;
    border: none;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
}

button:hover{
    background-color: #dddddd33;
}