* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 400px;
    height: 500px;
    background-color: #9b9b9b;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 20px 10px grey;
    color: #000000;
    font-weight: 600;

}

label,
input {
    display: inline-block;
    width: 90%;
    height: 20px;
    margin: 30px 0 0 20px;
    padding: 0px;
}

input {
    background-color: transparent;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-bottom: 1px solid #00000070;
    margin-top: 20px;
}

input:focus {
    outline: none;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#calculateButton {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 5px 1px;
    margin-top: 30px;
    margin-left: 150px;
}

#distance {
    margin: 30px;
}