@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #b02929;
  --second-color: #646464;
  --text-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: var(--second-color);
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
  background-color: var(--text-color);
}

.logo {
  width: 20vw;
  height: 10vh;
  display: grid;
}

img {
  width: 200px;
  justify-self: center;
  align-self: center;
}

.menu {
  width: 65vw;
}

.menu ul {
  display: flex;
  padding: 30px;
  justify-content: space-evenly;
}

.menu li {
  list-style: none;
  font-weight: 600;
  font-size: 15px;
}

.menu a:hover {
  color: var(--main-color);
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.login button {
  width: 10vw;
  height: 5vh;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--main-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 5px;
}

.main {
  width: 100vw;
  height: 80vh;
  background-color: blanchedalmond;
}

.foot {
  width: 100vw;
  height: 10vh;
  background-color: var(--text-color);
}
